h1{
    color:beige;
    background-color:red;
   text-align: center;
    padding: 10px;
}
body{
    background-color: antiquewhite;
}

h4{
   text-align:left;
   word-spacing: 5px;
   letter-spacing:1px;
   font-size: 20px;
}

.donation{
    color:black;
    font-size: 20px;
}

.inline{
    color:black;
    font-size: 20px;
}

.fullname{
    color:black;
    font-size: 25px;
}

.months{
    color:black;
    font-size: 25px;
}

