h1{
    color:#ffd166; text-align: center; background-color:#073b4c;
   text-decoration: underline;
   font-style: oblique;
font-size:40px;
}
body{
    background-color: #f5efff;
}

h2{
    color:#118ab2; text-align: left; 
    text-decoration: underline;
    font-style: oblique;
 font-size:40px;

}